#backgroundProfile{
    background: var(--background);
    height: 100%;
}

.profile{
    width: 100vw;    
    display: flex;
    align-items: center;
    flex-direction: column;
}

#profile-customization-container{
    height: 100%;
    width: 100%;
    display: none;
    background-color: #00000080;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#profile-customization-section{
    height: 600px;
    width: 700px;
    border-radius: 20px;
    background-color: #333;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .customization-title { grid-area: 1 / 2 / 2 / 3; }
    .more-customization { grid-area: 1 / 3 / 2 / 4; }

.color-selection { 
    grid-area: 2 / 1 / 3 / 4; 
}

#firstColor{
    background: linear-gradient(45deg, #0B2187,#80630E);
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

#secondColor{
    background: linear-gradient(45deg, #198C6E,#851F01);
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

    .text-selection { grid-area: 3 / 1 / 4 / 4; }
    .confirm-customization { grid-area: 4 / 1 / 5 / 4; }


.profile-container {
    max-width: 1000px;
    background: var(--background-2);
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.photo-profile-section { 
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.option-edit-section {
    grid-area: 1 / 3 / 2 / 4; 
    display: flex;
    justify-content: right;
    align-items: start;
}

#customizeProfile{
    height: 30px;
    width: 90px;
    border-radius: 10px;
}
    .info-section { grid-area: 2 / 1 / 3 / 4; }
.photos-section {
    grid-area: 3 / 1 / 4 / 4; 
}

.container-profile-sections{
    display: flex;
    justify-content: center;
}

    .commentary-section { grid-area: 4 / 1 / 5 / 4; }

.profile-picture{
    border-radius: 400px;
    height: 200px;
    width: 200px;
}

#userName{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
}

#userDescription{
    font-family: Montserrat;
}

.container-profile-sections{
    display: flex;

}

.profile-section{
    height: 40px;
    width: 100px;
    background-color: #ccc;
    margin: 10px;
    border-radius: 100px;
}

.clothe-container{
    width: 100%;
    height: auto;
    display: flex;
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 20px;
    flex-wrap: wrap;
}

.outfit-box{
    height: 200px;
    width: 200px;
    background-color: #bbb;
    margin: 10px;
    border-radius: 10px;
}

.add-outfit-box{
    height: 50px;
    width: 50px;
    background-color: #bbb;
    margin: 85px;
    border-radius: 110px;
}